.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
    padding: 0;
    margin: 0;
}
.card-container{
    height: 80%;
    width: 40%;
    background-color: lightblue;
    border-radius: 16px;
    border: 2px solid black;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: 17px 0;
    overflow: hidden;
}
.image-container{
    height: 40%;
    width: 90%;
    /* position: relative;
    top: 17px; */
    /* padding-top: 17px; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.image{
    height: 100%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-size: contain;

}
.name-heading{
    padding: 19px 0;
}
.attribute-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.left-attributes{
    padding-left: 30px;
    width: 50%;
}
.right-attributes{
    width: 50%;
}
p{
    padding: 10px 0;
    font-size: 19px;
}
p:hover{
    background-color: rgb(149, 214, 240);
    cursor: pointer;
}
span{
    padding: 10px 0;
    font-weight: 600;
}